html {
    font-size: 25px;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ÉqÉâÉMÉmäpÉS ProN W3", Hiragino Kaku Gothic ProN, Arial, "ÉÅÉCÉäÉI", Meiryo, sans-serif;
}

main {
    margin-top: 20px;

}

h2 {
    font-size:30px;
}

.box1 {
    padding: 0.5em 1em;
    margin: 2em 0;
    width:300px;
    color: #232323;
    background: #fff8e8;
    border-left: solid 10px #ffc06e;
}

    .box1 p {
        margin: 0;
        padding: 0;
    }


.box2 {
    margin: 20px;
    padding: 10px;
    width: 350px;
    background-color: #87cefa;
    border-radius: 10px;
}

    .box2 p {
        margin: 0;
        padding: 0;
    }

.box3 {
    margin: 20px;
    padding: 1em;
    width: 150px;
    background-color: #b3e5fc;
    border: solid 3px #29b6f6;
}

.box3 p {
    margin: 0;
    padding: 0;
}

.box4 {
    margin: 20px;
    padding: 1em;
    width: 250px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 1px 1px 2px #ccc;
}

.box6 {
    position: relative;
    margin: 20px;
    margin-left: 270px;
    padding: 0.5em 1em;
    width: 1250px;
    border: solid 3px #95ccff;
    border-radius: 8px;
}

    .box6 .box-title {
        position: absolute;
        display: inline-block;
        top: -13px;
        left: 10px;
        padding: 0 9px;
        line-height: 1;
        font-size: 25px;
        background: #FFF;
        color: #95ccff;
        font-weight: bold;
    }

    .box6 p {
        margin: 0;
        padding: 0;
    }

.box5 {
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #474747;
    background: whitesmoke;
    border-left: double 7px #4ec4d3;
    border-right: double 7px #4ec4d3;
}

    .box5 p {
        margin: 0;
        padding: 0;
    }

.kokuban {
    position: relative;
    margin: 2em auto;
    padding: 1em;
    width: 90%;
    background: #006633;
    color: #fff;
    border: 8px solid #b2771f;
    border-radius: 3px;
    box-shadow: 0 0 5px #333, 0 0 5px #555 inset;
}

    .kokuban::before,
    .kokuban::after {
        position: absolute;
        content: '';
        bottom: 0;
    }

    .kokuban::before {
        width: 20px;
        right: 10px;
        border: solid 3px #ffff00;
        border-radius: 3px 2px 0 2px;
    }

    .kokuban::after {
        width: 15px;
        right: 45px;
        border: solid 3px #fff;
        border-radius: 8px 5px 2px 5px;
    }

section figure img{
    width: 50%;
    padding: 20px 20px 20px 500px;
}

footer {
    background-color: #afeeee;
    padding: 60px 0;
}

    footer h2 {
        width: 1000px;
        margin: auto;
        color: #000000;
        font-size: 1.3rem;
    }

    footer p {
        width: 1000px;
        margin: 20px auto 0;
        color: #000000;
        line-height: 1.8rem;
    }
